<div class="container">
    <p *ngIf="Image.length = 0" class="no-data text-center">There is no image added yet!</p>
  
    <table class="table table-bordered" *ngIf="Image.length > 0" width="75%">
      <thead class="table-success">
        <tr>

          <th scope="col">Desc</th>
          <th scope="col">File Path</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of Image; let i = index">
          <td (click)="selectImage(image)">{{image.imageDescription}}</td>
          <td (click)="selectImage(image)">{{image.imagePath}}</td>
          
        </tr>
      </tbody>
      <BR>
        <BR>

    </table>
    <div class="row">
        <img class="materialboxed" src="{{selectedImage.imagePath}}" *ngIf="selectedImage !==null, show" alt="image" width="80%">
    </div>

  </div>